body {
    font-family: 'Nobile', sans-serif;
}

h1 {
    text-transform: capitalize;
    letter-spacing: 0.2em;
}h2 {
  text-transform: capitalize;
}

.carousel-subheading {
    text-transform: capitalize;
    letter-spacing: 0.2em;
    font-weight: bold;
}

.carousel-caption p {
  margin-bottom: -1.75rem !important;
  font-size: 1.25rem;
  line-height: 1.4;

}

/*!--------------NAVBAR-------------------*/

.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
  }

  .navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
  }
  
  .navbar-toggler:hover, .navbar-toggler:focus {
    text-decoration: none;
  }
  
  .navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
  }

.nav-link {
    text-align: right;
}

.navbar-brand:hover,
.navbar-brand:active,
.navbar-brand:focus,
.navbar-brand:active:focus{
  color: rgb(207, 88, 41) !important;
  background-color: #292828;
  border-color: #292828;
  text-decoration: none;
}

.nav-link:hover,
.nav-link:active,
.nav-link:focus,
.nav-link:active:focus {
    color: rgb(207, 88, 41) !important;
    background-color: #292828;
    border-color: #292828;
    text-decoration: none;
}



/*!-------------------------------- BUTTONS -------------------------*/
.btn-readmore {
  padding-top: 3px;
  padding-bottom: 2px;
  color: white;
  background-color: #555454;
  border-color: #555454;
  font-family: "Nobile", sans-serif !important;
  font-size: 0.8rem;
  border-radius: 8px;
  width: 200px;
  z-index: 1;
}

.btn-readmore:hover,
.btn-readmore:active,
.btn-readmore:focus,
.btn-readmore:active:focus {
  color: rgb(207, 88, 41);
  background-color: #292828;
  border-color: #292828;
}

.btn--action {
  margin-top: 4px;
  margin-bottom: 4px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 4px;
  padding-top: 4px;
  text-align: center;
  color: white;
  border-radius: 10%;
  background-color: #555454;
  border-color: #555454;
}

.btn--action:hover,
.btn--action:active,
.btn--action:focus,
.btn--action:active:focus {
  color: rgb(207, 88, 41);
  background-color: #292828;
  border-color: #292828;
  text-decoration: none;
}


/*!--------------SECTIONS-------------------*/

.wellness-section {
  margin-top: -80px;
}

/*!--------------FORMS files-------------------*/

.forms {
  height: 100vh;
}

.img-forms {
  margin-top: 0px !important;
}

/*-------------------------------- END BUTTONS -------------------------*/

/*!--------------CAROUSEL-------------------*/

/* Carousel base class */
.carousel {
    margin-bottom: 4rem;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 32rem;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
  }

.carousel-control-prev-icon,
.carousel-control-next-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: no-repeat 50% / 100% 100%;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e");
}

  /* MARKETING CONTENT
  -------------------------------------------------- */
  
  /* Center align the text within the three columns below the carousel */
   
   
  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .marketing h2 {
    font-weight: 400;
  }
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }

  #vitality {
    padding-top: 0;
    margin-top: 0;
  }  

  #lifestyle {
    height: 100vh;
  }

  #courses {
    height: 100vh;
  }

  #coaching {
    height: 100vh;
  }

  #testimonials {
    height: 100vh;
  }


  /* Featurettes
  ------------------------- */
  .featurette-top {
    margin-top: 70px;
  }

  .featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  }
  
  /* Thin out the marketing headings */
  .featurette-heading {
    text-align: center;
    text-transform: capitalize;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0.5rem;
  }

  .featurette-subheading {
    color: #6c757d;
    text-transform: capitalize;
    font-style: italic;
    text-align: center;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0.5rem;
  }
  

/*!---------------------END Carousel--------------------*/

.sb {
    color: rgba(92, 92, 92, 0.4);
    font-weight: 700;
    letter-spacing: 0.5em;
    text-align: center;
}

.sb p::first-line {
    color: rgba(136, 1, 1, 0.4);
    font-variant: small-caps;
}



/*!--------------IMAGES-------------------*/

.first-slide-img {
  margin-top: 10px;
  width: 100%;
  opacity: 0.7;
} 

.img-circle {
  border-radius: 50% !important;
  margin-top: 40px;
  margin-bottom: 20px;
}

.image-center-right{
    margin-left: 40px;
    margin-top: 85px;
}

.img-ruth-kitchen {
  margin-top: 110px !important;
}

.coaching-img {
  margin-top: 55px;
}

.img-padding{
  margin-right: 300px;
}

.img-testimonial {
  justify-content: center;
}

.img-top {
  margin-top: 0px !important;
}

/*.image-center-course { 
  display: block;
  margin-left: 250px;
  margin-right: 0px;
  margin-bottom: 30px;
}

.image-center-coach {
  display: block;
  margin-left: 430px;
  margin-right: 0px;
  margin-bottom: 20px;
}

.image-center-lifestyle {
  display: block;
  margin-left: 30px;
  margin-right: 0px;
  margin-top: 30px;
}*/

.img-yoga-video {
  margin-left: -15px;
  margin-top: 115px;
}

.wrapper-video {
  width: 500px;
  margin-left: 50px;
  margin-top: 20px; 
}

video {
  width: 80%;
}



/*!--------------CONTACT FORM-------------------*/
.form-check-label {
  text-align: center;
  text-transform: capitalize;
}

/*!---------------------LOGO SETTINGS--------------------*/
.sb {
  color: rgba(176, 0, 0, 0.4);
  font-size: 0.6em;
  font-weight: 700;
  letter-spacing: 0.2em;
  text-align: center;
}

.sb p::first-line {
  color: rgba(136, 1, 1, 0.4);
  font-variant: small-caps;
}

/*!--------------------- END LOGO SETTINGS--------------------*/


/*!--------------RESPONSIVE CSS-------------------*/
  
  @media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
  
    .featurette-heading {
      font-size: 50px;
    }
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }